<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acceptableSubtitleTypes</key>
	<array>
		<string>subrip</string>
		<string>srt</string>
		<string>ass</string>
		<string>mov_text</string>
	</array>
	<key>acceptableVideoTypes</key>
	<array>
		<string>h264</string>
		<string>mpeg4</string>
	</array>
	<key>acceptedVideoExtensions</key>
	<array>
		<string>.mp4</string>
		<string>.m4v</string>
		<string>.avi</string>
		<string>.mkv</string>
		<string>.mov</string>
	</array>
	<key>animeShowFolder</key>
	<string>/share/Multimedia/Anime/</string>
	<key>auto</key>
	<false/>
	<key>autoDelete</key>
	<true/>
	<key>cachedTvShows</key>
	<array>
		<string>Castle (2009)</string>
		<string>Reign (2013)</string>
		<string>The Librarians (2014)</string>
		<string>Scandal (2012)</string>
	</array>
	<key>checkForSubs</key>
	<true/>
	<key>commonTerms</key>
	<array>
		<string>HDTV</string>
		<string>720p</string>
		<string>720</string>
		<string>1080p</string>
		<string>x264</string>
		<string>TS</string>
		<string>XviD</string>
		<string>DVDRip</string>
		<string>BrRip</string>
		<string>BluRay</string>
		<string>H264</string>
		<string>AAC</string>
		<string>HQ</string>
		<string>subs</string>
		<string>REPACK</string>
		<string>HDRip</string>
		<string>1280x720</string>
		<string>dvd</string>
		<string>episode</string>
		<string>ep</string>
		<string>dvdscr</string>
	</array>
	<key>cpuLimit</key>
	<true/>
	<key>debug</key>
	<true/>
	<key>episodeRegEx</key>
	<array>
		<string>([\ \.\_\-]s(\d{1,3})e(\d{1,3})[\ \.\_\-])</string>
		<string>([\ \.\_\-]s(\d{1,3})[\ \.\_\-]e(\d{1,3})[\ \.\_\-])</string>
		<string>([\ \.\_\-]s(\d{1,3})e(\d{1,3})v\d[\ \.\_\-])</string>
		<string>([\ \.\_\-]s(\d{1,3})[\.\ \_]-[\.\ \_](\d{1,3})[\ \.\_\-])</string>
		<string>([\ \.\_\-]season[\ \.\_\-](\d{1,3})[\ \.\_\-\,]*ep[\.\ \_]*(\d{1,3})[\ \.\_\-])</string>
		<string>([\ \.\_\-]ep[\.\ \_]*(\d{1,3})[\ \.\_\-])</string>
		<string>([\ \.\_\-]ep[\.\ \_]*(\d{1,3})v\d[\ \.\_\-])</string>
		<string>([\ \.\_\-]e(\d{1,3})[\ \.\_\-])</string>
		<string>([\ \.\_\-]ova[\ \.\_\-](\d{1,3})[\ \.\_\-])</string>
		<string>([\ \.\_\-]ova[\ \.\_\-](\d{1,3})v\d[\ \.\_\-])</string>
		<string>([\ \.\_\-]season[\ \.\_\-](\d{1,3})[\ \.\_\-]{1,3}episode[\ \.\_\-](\d{1,3}))</string>
		<string>([\ \.\_\-]episode[\ \.\_\-](\d{1,3})[\ \.\_\-])</string>
		<string>([\ \.\_\-]episode[\ \.\_\-](\d{1,3})v\d[\ \.\_\-])</string>
		<string>([\ \.\_\-]episode[\ \.\_\-](\d{1,3})[\ \.\_\-])</string>
		<string>([\ \.\_\-]episode[\ \.\_\-](\d{1,3})v\d[\ \.\_\-])</string>
		<string>([\ \.\_\-](\d{2,3})[\ \.\_\-])</string>
		<string>([\ \.\_\-](\d{3})v\d[\ \.\_\-])</string>
		<string>([\ \.\_\-](\d{1,2})x(\d{1,2})[\ \.\_\-])</string>
		<string>([\ \.\_\-]-[\.\ \_](\d{1,3})[\ \.\_\-])</string>
		<string>([\ \.\_\-]-[\.\ \_](\d{1,3})v\d[\ \.\_\-])</string>
	</array>
	<key>excludedTerms</key>
	<array>
		<string>@Recycle</string>
		<string>sample</string>
	</array>
	<key>failedConverts</key>
	<array>
	</array>
	<key>minFileSize</key>
	<integer>75000000</integer>
	<key>mode</key>
	<integer>3</integer>
	<key>moviesFolder</key>
	<string>/share/Multimedia/Movies/</string>
	<key>service</key>
	<true/>
	<key>subtitleExtensions</key>
	<array>
		<string>.srt</string>
		<string>.ass</string>
	</array>
	<key>tempFolder</key>
	<string>/share/Public/</string>
	<key>tvShowsFolder</key>
	<string>/share/Multimedia/TV Shows/</string>
	<key>tvdbAPIkey</key>
	<string>4E7A4FBBC8CF4D74</string>
	<key>watchedFolder</key>
	<string>/share/Download/</string>
</dict>
</plist>
